:root {
  --primary: rgba(82, 92, 235, 1);
  --secondary-text-colour: rgba(102, 102, 102, 1);
  --link-colour: rgba(25, 118, 210, 1);
  --button-text-colour: rgba(255, 255, 255, 1);
  --secondary: rgba(191, 207, 231, 1);
  --heading-1-font-family: "Inter", Helvetica;
  --heading-1-font-weight: 700;
  --heading-1-font-size: 32px;
  --heading-1-letter-spacing: 0px;
  --heading-1-line-height: normal;
  --heading-1-font-style: normal;
  --body-text-font-family: "Inter", Helvetica;
  --body-text-font-weight: 400;
  --body-text-font-size: 16px;
  --body-text-letter-spacing: 0px;
  --body-text-line-height: normal;
  --body-text-font-style: normal;
  --body-default-font-family: "Gabarito", Helvetica;
  --body-default-font-weight: 400;
  --body-default-font-size: 14px;
  --body-default-letter-spacing: 0.14px;
  --body-default-line-height: 22px;
  --body-default-font-style: normal;
  --link-text-font-family: "Inter", Helvetica;
  --link-text-font-weight: 400;
  --link-text-font-size: 16px;
  --link-text-letter-spacing: 0px;
  --link-text-line-height: normal;
  --link-text-font-style: normal;
  --title-group-font-family: "Gabarito", Helvetica;
  --title-group-font-weight: 500;
  --title-group-font-size: 14px;
  --title-group-letter-spacing: 0.21px;
  --title-group-line-height: 20px;
  --title-group-font-style: normal;
  --color-shade-white: rgba(255, 255, 255, 1);
  --color-neutral-n200: rgba(226, 232, 240, 1);
  --color-neutral-n800: rgba(30, 41, 59, 1);
  --color-primary-color-primary-color: rgba(43, 135, 97, 1);
  --color-supporting-color-error: rgba(209, 46, 52, 1);
  --color-neutral-n400: rgba(148, 163, 184, 1);
  --color-supporting-color-success: rgba(49, 125, 53, 1);
  --layouts-radius-full: 9999px;
}
